@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">The Library</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Welcome to The Library</h4>
        <p>
            The Library is a Universal success with all kinds
            of categories and library items such as book, audiobooks
            & more!
        </p>
    </div>
    <div class="col-md-4">
        <h4>Manage Categories & Library Items</h4>
        <p>The User - You</p>
        <p>
            Are able to manage all categories and Library Items.
            You can add new, delete, edit, check out/check in items from customers
        </p>
    </div>
    <div class="col-md-4">
        <h4>Manage Your Employees</h4>
        <p>You can also manage all your employees at The Library</p>
    </div>
</div>
